<a href="/dashboard">&larr; رجوع</a>
<div class="admin-title">
  <h2>اضافة مريض جديد</h2>
</div>

<form action="/add-patient" method="POST">
  <label for="firstName"><b>الاسم الأول</b></label>
  <input type="text" placeholder="الاسم الأول" name="firstName" required />

  <label for="lastName"><b>اسم العائلة</b></label>
  <input type="text" placeholder="اسم العائلة" name="lastName" required />

  <label for="dateOfBirth"><b>تاريخ الميلاد</b></label>
  <input type="date" name="dateOfBirth" required />

  <label for="gender"><b>الجنس</b></label>
  <select name="gender" required>
    <option value="Male">ذكر</option>
    <option value="Female">أنثى</option>
    <option value="Other">آخر</option>
  </select>

  <label for="contactNumber"><b>رقم الاتصال</b></label>
  <input type="text" placeholder="رقم الاتصال" name="contactNumber" required />

  <label for="habitsAndInstincts"><b>العادات والغرائز</b></label>
  <textarea
    name="habitsAndInstincts"
    placeholder="العادات والغرائز"
    cols="50"
    rows="5"
  ></textarea>

  <label for="medicalHistory"><b>السوابق المرضية</b></label>
  <textarea
    name="medicalHistory"
    placeholder="السوابق المرضية"
    cols="50"
    rows="5"
  ></textarea>

  <label for="complaint"><b>الشكاية</b></label>
  <textarea
    name="complaint"
    placeholder="الشكاية"
    cols="50"
    rows="5"
  ></textarea>

  <label for="diagnosis"><b>التشخيص</b></label>
  <textarea
    name="diagnosis"
    placeholder="التشخيص"
    cols="50"
    rows="5"
  ></textarea>

  <label for="testsAndImaging"><b>التحاليل والاشعة</b></label>
  <textarea
    name="testsAndImaging"
    placeholder="التحاليل والاشعة"
    cols="50"
    rows="5"
  ></textarea>

  <label for="treatment"><b>العلاج</b></label>
  <textarea name="treatment" placeholder="العلاج" cols="50" rows="5"></textarea>

  <label for="reviewDate"><b>تاريخ المراجعة</b></label>
  <input type="date" name="reviewDate" />

  <label for="followUp"><b>المتابعة</b></label>
  <textarea
    name="followUp"
    placeholder="المتابعة"
    cols="50"
    rows="5"
  ></textarea>

  <input type="submit" value="اضافة" class="btn" />
</form>
