<a href="/dashboard">&larr; رجوع</a>
<div class="admin-title">
  <h2>اضافة مريض جديد</h2>
</div>

<form action="/add-post" method="POST">
  <label for="title"><b>الاسم</b></label>
  <input type="text" placeholder="اسم المريض" name="title" />

  <label for="body"><b>الشرح</b></label>
  <textarea name="body" cols="50" rows="10"></textarea>

  <input type="submit" value="اضافة" class="btn" />
</form>
