<h3>تسجيل الدخول</h3>

<form action="/admin" method="POST">
  <label for="username"><b>اسم حساب الطبيب</b></label>
  <input type="text" placeholder="ادخل حساب المستخدم" name="username" />

  <label for="password"><b>كلمة المرور</b></label>
  <input type="password" placeholder="ادخل كلمة المرور" name="password" />

  <input type="submit" value="تسجيل الدخول" class="btn" />
</form>

<h3>Register</h3>
<form action="/register" method="POST">
  <label for="username"><b>اسم حساب الطبيب</b></label>
  <input type="text" placeholder="ادخل حساب المستخدم" name="username" />

  <label for="password"><b>كلمة المرور</b></label>
  <input type="password" placeholder="ادخل كلمة المرور" name="password" />

  <input type="submit" value="Register" class="btn" />
</form>
