<div class="author">
  <h1 class="author__heading">نتائج البحث</h1>
</div>

<section class="articles">
  <ul class="article-ul">
    <% data.forEach(patient => { %>
    <li>
      <a href="/patient/<%= patient._id %>">
        <span><%= patient.firstName %> <%= patient.lastName %></span>
        <span class="article-list__date"
          ><%= new Date(patient.createdAt).toLocaleDateString('ar-EG') %></span
        >
      </a>
    </li>
    <% }) %>
  </ul>
</section>
